.ctaBtn {
  text-align: left;
  letter-spacing: 0.36px;
  color: #ffffff;
  opacity: 1;
  font-size: 15px;
  line-height: 24px;
  font-weight: $bold;
  padding: 20px 40px;
  background: transparent;
  border-color: transparent;
  color: black;
}
.btn--yellow {
  background: #eaaa19;
  color: #ffffff;
}
