.home-introduction {
  background-color: #333332;
  padding-top: 200px;
  padding-bottom: 200px;

  @media (max-width: $media-lg) {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  @media (max-width: $media-md) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  @media (max-width: $media-xs) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  h2 {
    padding-bottom: 80px;
    @media (max-width: $media-md) {
      padding-bottom: 60px;
    }
    @media (max-width: $media-xs) {
      padding-bottom: 40px;
    }
  }
  .image {
    margin-top: 80px;
  }

  .play-video {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
    img {
      width: 96px;
      height: 96px;
      object-fit: contain;
    }
    .play-video__text {
      text-align: left;
      letter-spacing: 0.7px;
      color: #ffffff;
      display: block;
      font-size: 14px;
      font-weight: $medium;
      display: block;
      text-align: center;
      padding-top: 10px;
    }
  }
}
